body{
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; 
background: #e3e4e5;
}

#master{
width: 1200px; 
margin: 0 auto; 
}
#logo{
position: relative;
width: 360px;
height: 134px
}
/*Boton buscar estilo*/
#buscar {
width: 280px;
height:30px;
padding: 1px;
margin-left: 480px;
background: #DDE8E4;
border-radius: 4px;
position: relative;
margin-top: 0px;
margin-bottom: 0px;
bottom: 100px;
}

#buscar input {
width: 190px;
padding: 5px;
float: left;
border: 0;
background: #DDE8E4;
height:21px;
background: #ffffff;
color:#000000;
font-style: 'Open sans',san-serif;
height: 20px;
}

#buscar button {
position: relative;
border: 0;
height: 30px;
width: 80px;
font-size:14px;
color: #000000;
background: linear-gradient(30deg, #E8ECB2,#FFB1F0);
}

/*Estilo del carrito*/
#carrito {
margin-left: 1175px;
width: 25px;
height: 25px;
position: relative;
}

#carrito2{
width: 0px;
height: 0px;
}

/*Estilo de barra de navegacion*/
#navegador{
position: relative;
bottom: 60px;	
padding-left: 75px;
width: 1000px;
margin:30px auto; 
text-decoration: none;
font-weight: 600;
border-radius: 8px;
font-family: 'Open sans', sans-serif;
background: linear-gradient(30deg, #E8ECB2,#FFB1F0);
padding: 10px;
font-size: 20px;
background-color: #ECD7ED;
}

#navegador ul{ 
list-style-type: none; /*le saca los puntos a la lista*/
position: relative;
}

#navegador li{
display: inline;
text-align: center;
margin: 0 40px 0 0;
margin-bottom: 40px;
border: inset 0pt;
}

#navegador > li > a{
display:block;
padding:15px 20px;
font-family:'Open sans',san-serif;
text-decoration:none;
}

.navs {
color: #000000;
text-decoration: none;
font-size: 20px;
font-family: 'Open sans', san-serif;
border-radius: 10pt;
border: inset 0pt;
}

#navegador li a:hover{
background-color: #ECD7ED;
color: #000000;
}

/*Listado*/
#Listado{
position: relative;
bottom: 60px;	
padding-left: 60px;
margin-left: 60px;
margin-top: 60px;
}

#Listado ul{ 
list-style-type: none; /*le saca los puntos a la lista*/
position: relative;
}

#Listado li{
display: inline;
text-align: center;
margin: 0 70px 0 0;
margin-bottom: 40px;
font-size: 18px;
font-family: 'Open sans', san-serif;
}

#ProductoCarrito{
position: relative;
bottom: 60px;
margin-left: 60px;
}

#imagen{
float: left;
height: 100px;
width: 100px;
margin-left: 60px;
}

#imagen img{
width: 140px;
height: 160px;
border-radius: 10pt;
}

#descripsionproducto{
float: left;
height: 120px;
width: 120px;
margin-left: 88px;
font-family: 'Open sans',san-serif;
margin-top: 50px;
}

.cantidad{
float: left;
margin-left: 77px;
margin-top: 75px;
background: transparent;
border: 0px;
width: 40px;
font-family: 'Open sans',san-serif;
font-size: 18px;
font-weight: bold;
color: black;
}

.cantidad::placeholder { 
color: #000000; 
}

.precio{
float: left;
font-family: 'Open sans',san-serif;
margin-left: 75px;
margin-top: 75px;
font-size: 18px;
font-weight: bold;
width: 40px;
background: transparent;
border: 0px;
}

#divisor{
width: 1100px; /*Largo de la linea*/
border-radius: 10pt;
position: relative;
bottom: 70px; /*Altura de la linea*/
left: 57px;
height: 2px;
background-color:#000000;
margin: 0%;
}

#divisor2{
border-radius: 10pt;
position: relative;
height: 2px;
width: 1100px;
bottom: 65px;
margin-left: 57px;
background-color:#000000;
}

#divisor3{
position: relative;
height: 2px;
width: 1100px;
margin-left: 57px;
bottom: 65px;
background-color:#000000;
}

#tot{
position: relative;
text-align: right;
bottom: 65px;
}

#tot ol{
list-style-type: none; /*le saca los puntos a la lista*/
}

#tot li{
font-family: 'Open sans',san-serif;
font-size: 20px;
margin-top: 30px;
margin-right: 86px;
}

#Tot {
width: 150px;
font-size: 20px;
font-weight: bold;
background: transparent;
border: 0px;
text-align: right;
}

#metodos{
position: relative;
right: 550px; 
bottom: 40px;
}

#metodos p{
font-family: 'Open sans',san-serif;
font-size: 20px;
}

#metodos a img{
width: 200px;
height: 70px;
position: relative;
left: 195px;
bottom: 65px;
}

#seguir{
position: relative;
bottom: 110px;
margin-left: 600px;
}

#seguir a button{
font-size: 24px;
font-family: 'Open sans',san-serif;
border-radius: 10px;
border: inset 0pt;
background: linear-gradient(30deg, #E8ECB2,#FFB1F0);
color: #000000;
}

#finalizar{
position: relative;
bottom: 140px;
margin-left: 900px;
}

#finalizar a button{
font-size: 24px;
font-family: 'Open sans',san-serif;
border-radius: 10px;
border: inset 0pt;
background: linear-gradient(30deg, #E8ECB2,#FFB1F0);
color: #000000;
}

/*footer*/
-*{
margin:0px;
padding:0px;
box-sizing:border-box;
font-family: sans-serif;
position:absolute;
left:0px;
right:0px;
}

footer{
width:100%;
background:#202020;
color:white;
position:absolute;
left:0px;
right:0px;
}

.container-footer-all{
width:100%;
max-width:1269px;
margin:auto;
}

.container-body{
display:flex;
justify-content:space-between;
}

.colum1{
max-width:350px;
}

.colum1 h1{
font-size: 22px;
}

.colum p{
font-size:14px;
color:#c7c7c7;
margin-top:20px;
}

.colum2{
max-width:400px;
}

.colum2 h1{
font-size:22px;
}

.colum2 row{
margin-top:20px;

}
.row img{
width:36px;
height:36px;
}

.row label{
margin-top:10px;
margin-left:10px;
color:#c7c7c7;
}
.colum3{
max-width:400px;
}

.colum3 h1{
font-size:22px;
}

.row2{
margin-top:20px;
}

.row2 img{
width:36px;
height:36px;
}

.row2 label{
margin-top:10px;
margin-left:10px;
max-width:150px;
}

.container-footer{
width:97%;
background:#101010;
padding:20px;
}

.footer{
max-width:1400px;
margin:auto;
display:flex;
justify-content:space-between;
padding:20px;
position:relative;
}

.copyright{
color:#c7c7c7;
}

.copyright a{
text-decoration:none;
color:#c7c7c7;
font-weight:bold;
}

/* Bajo footer*/
.a + .b {
margin-top: 10em;
}

.menuCon {
position: relative;
display: inline-block;
}

.menuDes {
display: none;
position: absolute;
background-color: #F1F1F1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
z-index: 1;
}

.formu{
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
font-size: 15px;
font-family: 'Open sans',san-serif;
}

.menuCon:hover .menuDes {
display: block;
}

.navs {
text-decoration: none;
font-size: 18px;
font-family: 'Open sans',san-serif;
border: inset 0pt;
}

.navegacion{
width: 1000px;
margin:30px auto; 
text-decoration: none;
padding: 10px;
font-weight: 600;
font-size: 18px;
background-color: #ECD7ED;
border-radius: 8px;
font-family: 'Open sans', sans-serif;
background: linear-gradient(30deg, #E8ECB2,#FFB1F0);
}

.navegacion ul{
list-style: none; 
}

.menu > li{
display: inline-block;
}

.menu > li > a{
display:block;
padding:15px 20px;
color:#000000;
font-family:'Open sans',san-serif;
text-decoration:none;
}

.menu li a:hover{
color:#1C2EB5;
}